<div class="my-form is-hidden">
    <div class="container">
        <button type="button" class="close my-form-close js-toggle-form" aria-label="Close">
          <span aria-hidden="true" class="p-2">&times;</span>
        </button>
        <form action="{{ path('user_profile', { 'id': id }) }}" method="post">
            <div class="row justify-content-center align-items-center">
                {{ form_errors(form) }}
                <div class="col-lg-2 col-md-6 form-group my-sandbox">
                    {{ form_row(form.date, { attr: { 'class': 'form-control', 'placeholder': 'yyyy-mm-dd' } }) }}
                </div>
                <div class="col-lg-2 col-md-6 form-group">
                    {{ form_row(form.distance, { attr: { 'class': 'form-control', 'placeholder': 'Distance in km' } }) }}
                </div>
                <div class="col-lg-2 col-md-4 form-group">
                    {{ form_row(form.time.hour, { attr: { 'class': 'form-control', 'placeholder': 'Max 23 hours' } }) }}
                </div>
                <div class="col-lg-2 col-md-4 form-group">
                    {{ form_row(form.time.minute, { attr: { 'class': 'form-control' } }) }}
                </div>
                <div class="col-lg-2 col-md-4 form-group">
                    {{ form_row(form.time.second, { attr: { 'class': 'form-control' } }) }}
                </div>
                <div class="col-lg-2 pt-3">
                    {{ form_row(form.save) }}
                </div>
            </div>
        </form>
    </div>
</div>
