<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('default') }}">RunDiaries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('overview') }}">Overview<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-warning" href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-default" href="{{ path('show_user', { 'id': id }) }}">Profile</a>
            <a class="btn btn-danger" href="{{ path('logout') }}">Logout</a>
        {% endif %}
        {% if (is_granted('IS_AUTHENTICATED_ANONYMOUSLY')) and (id == null) %}
            <a class="btn btn-primary" href="{{ path('login') }}">Login</a>
        {% endif %}
    </div>
</nav>
