{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center-sm">
        {% for user in users %}
            <div class="col-lg-4 col-md-6 pt-1 pb-1">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="{{ asset('assets/img/profile.jpg') }}" alt="card-image">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.username }}</h4>
                        <span>Running days: {{ user.getAllDays }}</span><br>
                        <span>Total kilometers: {{ user.getAllKm }} km</span><br>
                        <a href="{{ path('show_user', { 'id': user.id }) }}" class="btn btn-primary mt-2">Show profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
