{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}
{% block profile %}
    <div class="container profile-content">
        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form.distance) }}
            </div>
        {% endif %}
        <div class="row align-items-center profile-header">
            <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                <img class="rounded-circle img" src="{{ asset('assets/img/profile.jpg') }}" alt="profile-pic">
            </div>
            <div class="col-lg-8 col-md-5 col-sm-4 col-4">
                <h3>{{ username }}</h3>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 col-12 d-flex align-items-center">
                <div class="my-add-btn d-flex justify-content-center align-items-center">
                    <a href="#" class="">+</a>
                </div>
                <span class="p-1">Add a run</span>
            </div>
        </div>

        <div class="row no-gutters profile-overview">
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Anzahl der Lauftage -->
                <span>Running days: </span>{{ totalDays }}
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Gesamttage seit dem ersten Lauftag (bis heute, nicht bis zum letzten hinterlegten Lauftag) -->
                <span>Days until today: </span>{{ daysUntliToday|default('0') }}
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <!-- Gesamte bisher gelaufene Strecke -->
                <span>Total running km: </span>{{ totalKm }} km
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% include 'user/runs.html.twig' %}
            </div>
        </div>
    </div>
    <div>
        {% include 'form.html.twig' %}
    </div>
{% endblock %}
