{% extends 'base.html.twig' %}

{% block title %}Profile - {{ username }}{% endblock %}
{% block body %}
    <div class="row align-items-center profile-header">
        <div class="col-lg-2 col-md-4 col-sm-4 col-4">
            <img class="rounded-circle img" src="{{ asset('assets/img/profile.jpg') }}" alt="profile-pic">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-8 col-8">
            <h3>{{ username }}</h3>
        </div>
    </div>

    <div class="row no-gutters profile-overview">
        <div class="col-lg-4 col-md-4 col-12">
            <span>Running days: </span>{{ totalDays }}
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <span>Days until today: </span>{{ daysUntliToday|default('0') }}
        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <span>Total running km: </span>{{ totalKm }} km
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {% include 'user/runs.html.twig' %}
        </div>
    </div>
{% endblock %}
